.appShell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainContent {
  max-width: 1280px;
  width: 100%;
  min-height: calc(100vh - 64px);
}

.noUnderline {
  text-decoration: none;
}
